resources/documents/user_config.txt
resources/documents/email_config.txt
zapiski.txt
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/tarok_bot.iml
.idea/vcs.xml
/.idea/
.idea